* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/default-pattern.png);
}

.container {
  width: 70%;
  margin: 20px auto;
}

header {
  position: relative;
  height: 300px;
  background-image: url(../img/default-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: 10px solid #fff;
}

h1 {
  font-size: 70px;
}

.title {
  text-shadow: 3px 3px #000;
  font-family: 'Montserrat';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 3px;
}

.title:last-child {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav {
  background-color: #504741;
  color: white;
  text-align: center;
  padding: 20px;
}

nav > ul  li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  border-left: 1px solid #fff;
  padding: 5px 10px;
  font-family: 'Montserrat';
  text-shadow: 2px 2px #000;
  font-weight: 100;
  transition: background-color 0.6s;
}

li:first-child {
  border-left: none;
}

nav > ul li:hover {
  background-color: #302b27;
  cursor: pointer;
}

main {
  margin: 10px 0;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

aside {
  float: left;
  width: calc(50%/2 - 10px);
  height: 300px;
  margin-bottom: 10px;
}

section {
  float: left;
  background-color: #fff;
  width: 50%;
  margin: 0 10px;
  text-align: center;
}

h2 {
  padding: 20px;
}

h2 > a {
  text-transform: uppercase;
  color: #504741;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #D3D3D3;
}

h2:hover > a {
  color: #33cc33;
}

.information {
  text-align: left;
  padding: 20px;
}

.information > p {
  padding: 5px;
}

p > span {
  color: #302b27;
  font-size: 20px;
}

article > p {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  padding: 20px;
  color: #302b27;
}

.category {
  padding: 20 5px 50px 20px;
  font-size: 20px;
}


.first-image {
  height: 200px;
  background-image: url(../img/outdoor-wear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-image {
  height: 200px;
  background-image: url(../img/macbook.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-image {
  height: 200px;
  background-image: url(../img/free-woman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth-image {
  height: 200px;
  background-image: url(../img/sweet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  margin-top: 30px;
}

.menu-aside {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
}

h5 {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 15px;
}


.menu-aside > ul li {
  list-style: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

a {
  color: #33cc33;
  text-decoration: none;
  transition: all 0.6s;
  border-radius: 10%;
  padding: 5px;
}

li > a:hover {
  box-shadow: 1px 1px 2px 1px #000 inset;
  padding: 5px 20px;
  text-decoration: underline;
  background-color: #D3D3D3;
}

strong {
  font-size: 40px;
}

button {
  background-color: #504741;
  color: #fff;
  padding: 5px;
}

footer {
  background-color: #fff;
}

.footer {
  border-bottom: 1px solid grey;
}

.footer::after {
  content: "";
  display: table;
  clear: both;
}

.footer-info {
  float: left;
  width: calc(70%/3);
}

.copyright {
  padding: 30px;
}

.footer-info:last-child {
  float: left;
  width: 30%;
}
